@charset"utf-8";
#header{
   background-color:blueviolet;
   color:#ffffff;
   padding:10px;
   text-align:center;
}

#left{
   background-color:gray;
   height:400px;
   width:100px;
   padding:5px;
   float:left;
}

#right{
   font-size:20px;
   color:red;
   float:left;
}

#footer{
   background-color:blueviolet;
   color:#ffffff;
   padding:5px;
   text-align:center;
   clear:both;
}

